table {
  table-layout: fixed;
  width: 100%;
  margin: 0 auto;
}

th,
td {
  width: 60px;
}

.btn {
  margin: 10px;
}

.wrapper {
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px 10px;
  text-align: center;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

.formGroup {
  max-width: 300px;
  margin: 20px auto;
  text-align: start;
}

.warn {
  color: red;
}

.card {
  text-align: start;
  max-width: 1000px;
  margin: 10px auto;
}

.cardList > li {
  margin: 10px auto;
}

.stickyTable thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.stickyTable th:first-child {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
}

.stickyTable thead th:first-child {
  z-index: 2;
}

.stickyTableWrapper {
  overflow: auto;
  height: 90vh;
}